.person {
  background: #eeeeee;
  width: 17rem;
  border-radius: 0.6rem;
  margin: 2rem auto;
  padding: 1rem;
  transition: all 0.3s liniar;
  text-align: center;
}
.person img {
  border-radius: 50%;
  border: 0.1rem solid teal;
}
.person h4 {
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
}
.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
